.footer {
  background-color: #aa0601;
}
.footer-info {
  display: flex;
  justify-content: space-between;
}
.footer-nav {
  display: flex;
  @include mobile {
    display: none;
  }
  a {
    color: $text-color-secondary;
    &:hover {
      color: $text-hover-color-primary;
    }
  }
}
.footer-contact {
  li {
    display: flex;
    align-items: center;
    img {
      @include size(36px, 36px);
      @include mobile {
        @include size(18px, 18px);
      }
    }
    a {
      color: $text-color-secondary;
      &:hover {
        color: $text-hover-color-primary;
      }
    }
  }
}
.footer-icon {
  display: flex;
  img {
    @include size(48px, 48px);
    transition: all 0.5s;
    &:hover {
      transform: scale(1.2);
    }
    @include pad {
      @include size(36px, 36px);
    }
    @include mobile {
      @include size(24px, 24px);
    }
  }
}

.copyright {
  .container {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px $text-color-secondary;
    padding-top: 32px;
    @include pad {
      padding-bottom: 40px;
    }
    @include mobile {
      display: block;
      padding-top: 16px;
      padding-bottom: 24px;
    }
  }
  p {
    color: $text-color-secondary;
  }
  ul {
    display: flex;
    @include mobile {
      display: block;
    }
    a {
      color: $text-color-secondary;
      &:hover {
        color: $text-hover-color-primary;
      }
    }
  }
}
