/* banner區塊 */
.banner {
  background: url(../../assets/images/home-header.png) center center / cover;
  height: 787px;
  @include mobile {
    background-image: url(../../assets/images/home-header-sm.png);
    height: 396px;
  }
}
.slogan {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $text-color-primary;
  text-align: right;
  h3 {
    font-weight: bold;
  }
  a {
    display: inline;
    color: $text-color-secondary;
    padding: 6px 12px;
    background: $btn-color-primary;
    &:hover {
      background: $btnHover-color-primary;
    }
  }
}

/* about區塊 */
.about {
  background: $bg-color-secondary;
}
.about-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    text-align: center;
    width: 23.8%;
    @include pad {
      width: 47%;
    }
    @include mobile {
      width: 100%;
    }
    img {
      @include size(100px, 100px);
    }
    h3 {
      color: $text-color-primary;
      font-weight: bold;
    }
    p {
      text-align-last: left;
    }
  }
}

/* classic區塊 */
.classic-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  li {
    text-align: center;
    width: 32%;
    @include pad {
      width: 100%;
    }
    img {
      @include size(416px, 416px);
      @include pad {
        @include size(336px, 336px);
      }
      @include mobile {
        @include size(348px, 348px);
      }
    }
    h4 {
      color: $text-color-Tertiary;
      font-weight: bold;
      font-style: Italic;
    }
  }
}
/* co-branding區塊 */
.co-branding {
  background: url(../../assets/images/bg.png) no-repeat center center / cover;
  .title {
    color: $text-color-secondary;
  }
}
.co-branding-list {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 50%;
    @include pad {
      width: 100%;
    }
    // img {
    //   width: 100%;
    //   height: 240px;
    // }
    .co-branding-list-bg1 {
      background: url(../../assets/images/home-section4-1.png) no-repeat center
        center / cover;
      height: 240px;
      @include mobile {
        background: url(../../assets/images/home-section4-1-sm.png) no-repeat
          center center / cover;
      }
    }
    .co-branding-list-bg2 {
      background: url(../../assets/images/home-section4-2.png) no-repeat center
        center / cover;
      height: 240px;
      @include mobile {
        background: url(../../assets/images/home-section4-2-sm.png) no-repeat
          center center / cover;
      }
    }
    h3 {
      background: $bg-color-primary;
      text-align: center;
      color: $text-color-Tertiary;
      font-weight: bold;
      font-style: Italic;
    }
  }
}
/* recommend區塊 */
.recommend-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recommend-list-card {
  position: relative;
  width: 23.5%;
  @include pad {
    width: 48%;
  }
  @include mobile {
    width: 100%;
  }
  height: 511px;
  border: 1px solid $border-color-secondary;
  box-shadow: 0px 2px 6px $shadow-color-primary;
  img {
    @include size(306px, 306px);
    @include pad {
      @include size(100%, 306px);
    }
  }
  p:last-of-type {
    position: absolute;
    bottom: 16px;
  }
}
/* contact區塊 */
.contact {
  background: $bg-color-secondary;
}
.contact-info {
  width: 33%;
  @include pad {
    width: 100%;
  }
  .form-group {
    display: flex;
    flex-direction: column;
    input,
    textarea {
      background-color: $bg-color-secondary;
      // border顏色透明
      border: solid 1px $text-color-default;
      padding: 6px 12px;
    }
    textarea {
      height: 136px;
      resize: none;
    }
  }
}
.btn-list {
  text-align: center;
  button {
    @include size(416px, 56px);
    @include pad {
      @include size(336px, 56px);
    }
    @include mobile {
      @include size(100%, 56px);
    }
    color: $text-color-secondary;
    background-color: $btn-color-primary;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $btnHover-color-primary;
    }
  }
}
