.stores-form {
  display: flex;
  align-items: center;
  width: 33%;
  @include pad {
    width: 70%;
  }
  @include mobile {
    width: 100%;
  }
}
.countiesth {
  width: 70%;
  height: 38px;
  color: $text-color-muted;
  border-color: $border-color-muted;
}
