.container {
  max-width: 1296px;
  margin: 0 auto;
  @include pad {
    padding-right: 36px;
    padding-left: 36px;
  }
  @include mobile {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.title {
  text-align: center;
  color: $text-color-primary;
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
  border-left: 8px solid $border-color-Tertiary;
}
