$text-color-primary: #650300;
$text-color-secondary: #fff;
$text-color-Tertiary: #aa0601;
$text-color-default: #000000;
$text-color-muted: #ced4da;
$text-color-info: #212529;
$footer-bg-color: #aa0601;
$bg-color-primary: #fff;
$bg-color-secondary: #fbf2f2;
$bg-color-Tertiary: #000000;
$bg-color-info: #650300;
$btn-color-primary: #aa0601;
$btnHover-color-primary: #580603;
$text-hover-color-primary: #ffeaa7;
$text-hover-color-secondary: #aa0601;
$square-color-primary: #5f3e2d;
$square-color-secondary: #b75929;
$border-color-primary: #fff;
$border-color-secondary: #dee2e6;
$border-color-Tertiary: #9f1213;
$border-color-muted: #ced4da;
$border-color-info: #00000020;
$border-color-gray: #707070;
$shadow-color-primary: #00000029;
$pagination-text-color: #555555;
$pagination-border-color: #555555;
$pagination-bg-color: #f2f2f2;
$pagination-btn-bg-color: #000000;
