/* glasses-card */
.glasses-card {
  margin-bottom: 80px;
  &:nth-last-child(n + 5) {
    margin-bottom: 80px;
  }
  @include pad {
    &:nth-last-child(n + 3) {
      margin-bottom: 40px;
    }
  }
  @include mobile {
    &:nth-last-child(n) {
      margin-bottom: 24px;
    }
    &:last-child {
      margin-bottom: 64px;
    }
  }
}
.glasses-card-title {
  display: flex;
  justify-content: space-between;
  h4 {
    font-size: 24px;
  }
  p {
    font-size: 24px;
    font-weight: 500;
    color: $text-color-Tertiary;
  }
}
.glasses-card-text {
  transition: all 0.5s;
  display: flex;
  .square {
    &:hover {
      transform: scale(1.2);
    }
    @include size(24px, 24px);
    border-radius: 4px;
    background-color: $square-color-primary;
    &:last-of-type {
      background-color: $square-color-secondary;
      margin-left: 8px;
    }
    a {
      opacity: 0;
    }
  }
}

/* stores-card store-card */
.stores-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* 解決最後一排兩個被推到兩邊的問題 */
  &::after {
    content: '';
    width: 32.3333%;
  }
}
.stores-card {
  color: $text-color-info;
  width: 32.3333%;
  @include pad {
    width: 48%;
  }
  @include mobile {
    width: 100%;
  }
  &:nth-last-child(n + 3) {
    margin-bottom: 48px;
    @include pad {
      margin-bottom: 24px;
    }
  }
  .stores-card-text {
    li {
      display: flex;
      align-items: center;
    }
    img {
      @include size(16px, 20px);
    }
  }
}
.stores-card-title,
.stores-card-text,
.stores-card-btn {
  border: 1px solid $border-color-info;
}
.stores-card-btn {
  text-align: center;
  color: $text-color-secondary;
  background-color: $bg-color-Tertiary;
  &:hover {
    color: $text-hover-color-primary;
  }
}

.stores-card.store-card {
  width: 43%;
  @include pad {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .stores-card-img-top {
      width: 48%;
      height: 100%;
      @include mobile {
        width: 100%;
      }
    }
    .stores-card-body {
      width: 48%;
      @include mobile {
        width: 100%;
      }
    }
    .stores-card-btn {
      display: none;
    }
  }
  @include mobile {
    display: block;
    height: 100%;
  }
}
.store-map {
  width: 55%;
  @include pad {
    @include size(100%, 422px);
  }
}
