.blog,
.specialPlan {
  .menu {
    background: $bg-color-info;
    @include mobile {
      display: none;
    }
  }
  .menu-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .menu-list {
      display: flex;
      a {
        color: $text-color-secondary;
        &:hover {
          color: $text-hover-color-primary;
        }
      }
    }
  }
}
