.pagination {
  display: flex;
  justify-content: center;
  .page-item {
    border: 1px solid $pagination-border-color;
    background: $pagination-bg-color;
    a {
      text-decoration: none;
      display: block;
      color: $pagination-text-color;
      padding: 12px 12px;
      &:hover {
        color: $text-color-secondary;
        background: $text-color-default;
      }
    }
  }
}
